<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Redis Raspberry Pi Image Capture Demo</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <div class="container">
    <section class="hero has-background-danger-dark is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title has-text-white has-text-centered">
            Redis Raspberry Pi Image Capture Demo
          </h1>
        </div>
      </div>
    </section>
    <div class="box">
      <div class="notification is-info is-light is-hidden has-text-centered" id="noImagesNotification">
        There are no images to show right now.  Refresh the page periodically to check for new images!
      </div>
      <div class="container">
        <!-- This is where the images will get rendered into... -->
        <div class="columns is-flex-wrap-wrap" id="imageArea">
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Redis Raspberry Pi Image Capture Demo</strong> by <a href="https://simonprickett.dev">Simon Prickett</a>.  An example 
          application using <a href="https://redis.io/">Redis</a>, <a href="https://flask.palletsprojects.com/">Flask</a> and <a href="https://bulma.io/">Bulma</a>.
        </p>
        <p><a href="https://github.com/simonprickett/redis-pi-camera">Source code is available on GitHub</a>.</p>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="{{ url_for('static', filename = 'app.js') }}" defer></script>
</body>

</html>